@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;
$blog-bg: #e9e6e4;
$body-bg: #121418;
$title-color: #121418;
$subtitle-color: #161419;
$border-color: #94918f;

body{
    background-color: $body-bg;
    display: flex;
    font-family: $subtitle-font;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 2em;
    font-weight: 400;
    height: 100vh;

    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

.blog{
    background-color: $blog-bg;
    max-width: 1350px;
    display: grid;
    height: 90vh;
    max-height: 800px;
    overflow: hidden;
    grid-template-columns: 15% 20% 35% 30%;
    grid-template-rows: 100%;
    width: 100%;
    padding: 40px 4px;
    position: relative;

    @media screen and (max-width: 1030px) {
        grid-template-columns: 20% 50% 30%;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 25% 75%;
        width: 100%;
        max-width: none;
    }

    @media screen and (max-width: 560px) {
        grid-template-columns: 100%;
    }

    &-part{
        padding: 0 20px;
        &:not(:last-child){
            border-right: 1px solid $border-color;
        }
    }

    &-menu{
        font-size: 22px;
        text-decoration: none;
        color: $subtitle-color;
        display: flex;
        letter-spacing: -0.5px;
        align-items: center;

        @media screen and (max-width: 1260px) {
            font-size: 1.6vw;
        }

        svg{
            width: 22px;
            margin-left: 4px;
        }
        
        & + &{
            margin-top: 24px;
        }
        &.mention{
            margin-top: auto;
            font-size: 19px;

            @media screen and (max-width:1260px) {
                font-size: 1.4vw;
            }
        }
        &.subscribe{
            margin-top: 8px;
            font-size: 19px;
            position: relative;
           
            @media screen and (max-width:1260px) {
                font-size: 1.4vw;
            }
        }
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            background-color: $subtitle-color;
            left: 0;
            border-radius: 1px;
            margin-right: 14px;
        }
        &.rounded{
            &:before{
                content: "";
                border-radius: 50%;
                width: 12px;
                height: 12px;
                background-color: $subtitle-color;
                margin-right: 12px;
            }
        }
    }
    .is-menu{
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1030px) {
            display: none;
        }
    }

    &-big__title{
        font-size: 132px;
        font-family: $title-font;
        font-weight: 700;
        letter-spacing: -5px;
        line-height: 1;
        margin-bottom: 6px;
        @media screen and (max-width: 1400px) {
            font-size: 120px;
        }
        @media screen and (max-width: 1260px) {
            font-size: 9vw;
            letter-spacing: -2px;
        }
        @media screen and (max-width: 560px) {
            font-size: 36px;
            margin-bottom: 12px;
        }
    }

    &-header{
        display: flex;
        flex-direction: column;
    }
    &-article{
        padding: 0 20px;

        img{
            height: 260px;
            max-height: 22vh;
            width: 100%;
            object-fit: cover;
            filter: grayscale(1);
        }
    }
}

.page-number{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 72px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: lighter;
    font-family: $title-font;
    border-right: 1px solid $border-color;
    white-space: nowrap;
    @media screen and (max-width: 1260px) {
        font-size: 5vw;
    }
}

.small-title{
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 560px) {
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 24px;
        border-bottom: 0;
    }
}
.date{
    display: flex;
    justify-content: flex-end;
}
.blog-article{
    h2{
        font-size: 26px;
        font-weight: 500;
        line-height: 1.2;
        margin: 8px 0 8px;
        span{
            font-family: $italic-font;
        }
    }
    p{
        line-height: 1.5;
        margin: 14px 0;
    }
    a{
        color: $subtitle-color;
        text-decoration: none;
        font-size: 26px;
        letter-spacing: -1px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: auto;
        border-top: 1px solid $border-color;
        padding-top: 14px;

        svg{
            width: 26px;
            margin-right: 10px;
        }
    }
}
.blog-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    span{
        font-family: $italic-font;
    }
}
.blog-header-container{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    border-right: 1px solid $border-color;
    @media screen and (max-width: 768px) {
        border-right: 0;
    }
    & > *{
        flex-shrink: 0;
        min-height: 100%;
        scroll-snap-align: start;
    }
    .blog-article:not(.header-article){
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
